Package: simple-deb-packet-dbgsym
Package-Type: ddeb
Source: simple-deb-packet
Version: 1.0.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: rituparn <rituparn@shukla.ru>
Installed-Size: 1737
Depends: simple-deb-packet (= 1.0.0-1)
Section: debug
Priority: optional
Description: debug symbols for simple-deb-packet
Build-Ids: 66f689c207be81e987d0647a9f5a3529b93d508b
