#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,-O1
export DEB_BUILD_MAINT_OPTIONS = nolto

export PATH := /usr/lib/go-1.23/bin:$(shell printenv PATH)


%:
	dh $@ --buildsystem=golang --with=golang

override_dh_auto_test:
	echo "skipping tests"

